<div class="" style="display: flex; gap: 10px; flex-wrap: wrap;">
  <button type="button" class="save-button" title="save"></button>
  <button type="button" class="cancel-button" title="cancel"></button>
  <button type="button" class="done-button" title="done"></button>
  <button type="button" class="close-button" title="close"></button>
  <button type="button" class="edit-button" title="edit"></button>
  <button type="button" class="delete-button" title="delete"></button>
  <button type="button" class="update-button" title="update"></button>
  <button type="button" class="play-button" title="play"></button>
  <button type="button" class="pause-button" title="pause"></button>
  <button type="button" class="stop-button" title="stop"></button>
  <button type="button" class="next-button" title="next"></button>
  <button type="button" class="prev-button" title="prev"></button>
  <!-- <button type="button" class="save-button">save</button>
  <button type="button" class="cancel-button">cancel</button>
  <button type="button" class="done-button">done</button>
  <button type="button" class="close-button">close</button>
  <button type="button" class="edit-button">edit</button>
  <button type="button" class="delete-button">delete</button>
  <button type="button" class="update-button">update</button>
  <button type="button" class="play-button">play</button>
  <button type="button" class="pause-button">pause</button>
  <button type="button" class="stop-button">stop</button>
  <button type="button" class="next-button">next</button>
  <button type="button" class="prev-button">prev</button> -->
  <!-- Save button -->
<!-- <button class="button save-button">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path fill="#FFFFFF" d="M19 19H5V5h7V3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L18 6.41V10h2V3h-6z"/>
  </svg>
</button> -->

<!-- Cancel button -->
<!-- <button class="button cancel-button">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path fill="#FFFFFF" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 16h-2v-2h2v2zm0-4h-2V7h2v7z"/>
  </svg>
</button> -->

<!-- Done button -->
<!-- <button class="button done-button">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path fill="#FFFFFF" d="M2 21h20v2H2v-2zm13.03-14.85l-7.07 7.07-3.03-3.03L2 14.57l4.95 4.95L12 11l7.07 7.07 2.83-2.83L14.83 11l-1.8-1.85z"/>
  </svg>
  Done
</button> -->

<!-- Close button -->
<!-- <button class="button close-button">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path fill="#FFFFFF" d="M18 6L6 18M18 18L6 6"/>
  </svg>
  Close
</button> -->

<!-- Edit button -->
<!-- <button class="button edit-button">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path fill="#FFFFFF" d="M3 17.27V21h3.73l10.61-10.61-3.74-3.74L3 17.27zM21 3.87c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0L16.46 3.7l3.74 3.74L21 3.87z"/>
  </svg>
  Edit
</button> -->



</div>

<router-outlet />
